/node_modules
/vendor
/system/local/db/mysql_data/*
/system/local/db/test_mysql_data/*
/system/deploy/trigger/*
/phpmyadmin
/.phpunit.result.cache
/storage/app/
/storage/debugbar/
/storage/test/datas/images
/storage/datas/images
/storage/fonts
/storage/photos
/storage/output
/bootstrap/cache
/packages/Tool/Admin/tests/reports/*
/packages/Tool/Common/tests/reports/*
/packages/Tool/General/tests/reports/*
/tmp
/public/photos
/import
.DS_Store
Thumb.db
composer.lock
.idea/*
.editorconfig
.env
.env.dusk
.env.testing
packages/Tool/Admin/tests/.phpunit.result.cache
packages/Tool/General/tests/.phpunit.result.cache
packages/Tool/User/tests/.phpunit.result.cache